/* import fonts */
@import url('./Fonts.css');

* {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  background-color: #FFFFFF;
}
button {
  z-index: 10;
}

/* text classes */
.title {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3.8vh;
  font-weight: 600;
  line-height: 100%;
  color: #565656;
}
.subtitle {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3vh;
  font-weight: 600;
  line-height: 100%;
  color: #565656;
}
.textTitle {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3.5vh;
  line-height: 100%;
  color: #565656;
}
.textLarge {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2.8vh;
  line-height: 100%;
  color: #565656;
}
.textMed {
  font-family: 'Helvetica Neue', sans-serif;
  /* font-size: 20px; */
  font-size: 2.5vh;
  line-height: 100%;
  color: #565656;
}
.text {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2.2vh;
  line-height: 120%;
  color: #565656;
}
.textUser {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2vh;
  line-height: 100%;
  color: #565656;
}
.textSmall {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.8vh;
  line-height: 100%;
  color: #565656;
}
.bold {
  font-weight: 700;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.textAuto {
  font-size: 1cqw;
}

/* div classes */
.flexParent {
  display: flex;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
.flex8 {
  flex: 8;
}
.div100 {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}
.div80 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.div50 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.div40 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.div30 {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.div20 {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.centerVertical {
  margin-top: auto;
  margin-bottom: auto;
}
.screen100 {
  height: 80vh;
}

/* spacing classes */
.spacing2 {
  margin-bottom: 2%;
}
.spacing3 {
  margin-bottom: 3%;
}
.spacing5 {
  margin-bottom: 5%;
}
.spacing10 {
  margin-bottom: 10%;
}
.spacing15 {
  margin-bottom: 15%;
}
.spacingTop1 {
  margin-top: 1%;
}
.spacingTopMini {
  margin-top: 1.5%;
}
.spacingTop2 {
  margin-top: 2%;
}
.spacingTop3 {
  margin-top: 3%;
}
.spacingTop5 {
  margin-top: 5%;
}
.spacingTop10 {
  margin-top: 10%;
}
.marginRight3 {
  margin-right: 3%;
}
.paddingLeft2 {
  padding-left: 2%;
}

/* position */
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}

/* container classes */
.dashboardContainer {
  padding: 2%;
  margin-left: 3%;
  /* padding-top: 10vh; */
}
.buttonContainerRight {
  position: fixed;
  right: 0;
  margin-right: 3%;
  margin-top: 10vh;
  gap: 3%;
}
.popupVeil {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.popupContainer {
  position: fixed;
  z-index: 20;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: auto;
  border-radius: 2em;
  border: 2px solid #2817E7;
  box-shadow: .2em .2em .5em #565656;
  background-color: #FFFFFF;
  padding: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.statusContainer {
  position: fixed;
  z-index: 20;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /* width: 60%; */
  height: auto;
  border-radius: 2em;
  padding: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.formContainer {
  height: auto;
  width: 85%;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

/* layers classes */
.index1 {
  z-index: 1;
}
.index2 {
  z-index: 2;
}

/* button classes */
button:hover {
  cursor: pointer;
}
.buttonForm {
  background-color: #CDDBE8;
  border: none;
  padding: 4%;
  border-radius: 20px;
  text-decoration: none;
}
.buttonForm:hover {
  background-color: #B4DBFF;
}
.buttonBlank {
  background-color: inherit;
  border: none;
  text-decoration: none;
}
.buttonCancel {
  width: auto;
  background-color: #CECECE;
  border: none;
  padding: 8%;
  border-radius: 1em;
}
.buttonConfirm {
  width: auto;
  background-color: #EFC900;
  border: none;
  padding: 8%;
  border-radius: 1em;
}
.buttonConfirmSmall {
  background-color: #CECECE;
  border: none;
  padding: 3%;
  border-radius: 1em;
}
.buttonConfirmReprint {
  background-color: #B4DBFF;
  border: none;
  padding: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 1em;
}
.buttonBig {
  background-color: #0060B9;
  border: none;
  padding: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 2em;
}
.buttonLarge {
  background-color: #999999;
  border: none;
  padding: 6%;
  border-radius: 2em;
}
.buttonEdit {
  background-color: #B4DBFF;
  border: none;
  padding: 5%;
  border-radius: 1em;
}
.buttonEdit:hover, 
.buttonConfirmReprint:hover {
  background-color: #EFC900;
}
.buttonLogout {
  background-color: #999999;
  border: none;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  min-width: 12vw;
  max-width: 50vw;
  min-height: 6vh;
  border-radius: 1.5em;
}
.buttonLogout:hover {
  background-color: #FF7A00;
}

/* dropdown classes */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-header {
  padding: 0.5em 1em;
  cursor: pointer;
  border: 0.1em solid #CCCCCC;
  border-radius: 0.3em;
}
.dropdownList {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 0.1em solid #CCCCCC;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.2);
  list-style: none;
  width: 100%;
}
.dropdownList.open {
  display: block;
}
.dropdownList li {
  padding: 0.6em 1em;
  cursor: pointer;
  transition: background-color 0s ease;
}
.dropdownList li:hover {
  background-color: #B4DBFF;
}

/* input classes */
.formInput {
  border: none;
  background-color: none;
}
.formInput:focus {
  outline: none;
  border: none;
  background-color: none;
}

/* image classes */
.logoImage {
  width: 8vw;
  height: 8vw;
}
.profileImage {
  width: calc(100vw * 0.05);
  height: calc(100vw * 0.05);
}

/* icon classes */
.arrowIcon {
  color: #2817E7;
  font-size: 300%;
}
.showIcon {
  color: #999999;
  font-size: 150%;
}
.errorIcon {
  color: #D10058;
  font-size: 110%;
}
.profileIcon {
  color: #FFFFFF;
  font-size: 120%;
}
.sideBarIcon {
  color: #999999;
  font-size: 200%;
  display: flex;
  align-items: left;
}
.menuIcon {
  color: #999999;
  font-size: 200%;
  display: flex;
  align-items: left;
}
.menuIcon:hover {
  color: #0084FE;
  cursor: pointer;
}
.checkedIcon {
  color: #EE6C4D;
  font-size: 150%;
  cursor: pointer;
}
.crossedIcon {
  color: #565656;
  font-size: 150%;
  cursor: pointer;
}
.closeIcon {
  color: #999999;
  font-size: 150%;
  cursor: pointer;
  float: right;
  margin-top: -4%;
}
.successIcon {
  color: #53DC6A;
  font-size: 500%;
  cursor: pointer;
}
.failIcon {
  color: #D10058;
  font-size: 500%;
  cursor: pointer;
}
.lockIcon {
  color: #0084FE;
  font-size: 500%;
  cursor: pointer;
}

/* banner */
.bannerContainer {
  width: 100vw;
  position: fixed;
  margin-top: 9vh;
  display: grid;
  row-gap: 2px;
}
.bannerCritical {
  margin: auto;
  width: 100vw;
  background-color: #ff0000;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
}
.bannerWarn {
  margin: auto;
  width: 100vw;
  background-color: #FFD800;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Landing Carousel */
.landingContainer {
  width: 100vw;
  height: 70vh;
}
.carouselContainer {
  margin: auto;
  width: 13vw;
  height: 30vh;
  perspective: 60vw;
  perspective-origin: top;
  /* perspective: 1000px; */
}
#carousel {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.card {
  margin-top: 10vh;
  position: absolute;
  background: #000;
  width: 12vw;
  height: 32vh;
  border-radius: 10px;
  background-color: rgb(180, 219, 255, 0.8);
  transition: transform 1s;
  padding: 4%;
  -webkit-box-reflect: below 0.5em linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25));
}
.card:hover {
  background-color: rgba(239, 201, 0, 0.95);
  /* box-shadow: 0 0 1em 0.2em #FFFFFF; */
}
.preserve3d {
  transform-style: preserve-3d;
}
.next, .prev {
  cursor: pointer;
  padding-top: 50%;
}
.next { 
  float: right;
  padding-right: 5%;
}
.prev { 
  float: left;
  padding-left: 5%;
}
.next:hover, .prev:hover {
  color: #2013b2;
}
.cardImage {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.cardText {
  text-shadow: 0.1em 0.1em 1em #FFFFFF, -0.1em -0.1em 1em #FFFFFF;
  /* background: radial-gradient(ellipse, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 25%,  rgba(180, 219, 255, 0.5) 50%, rgba(180, 219, 255, 0.1) 100%); */
  font-weight: 500;
}
.loginBottom {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 1%;
  width: 100vw;
  z-index: 5;
}
.loginBottomButton {
  background-color: #2817E7;
  border: none;
  padding: 1.5%;
  border-radius: 20px;
  text-decoration: none;
}
.loginBottomButton:hover {
  background-color: #2013b2;
}

/* Login and Create Account */
.userForm {
  margin-top: calc(100vh * 0.05);
}
.formInputLogin {
  height: calc(100vh * 0.06);
  width: calc(100vw * 0.16);
}
.formFrame {
  width: calc(100vw * 0.23);
  height: calc(100vh * 0.06);
  border-radius: 5px;
  border: 2px solid #0084FE;
  background-color: #FFFFFF;
}
.formFrame:focus {
  border: 2px solid #0060B9;
}
.formThin {
  height: calc(100vh * 0.04);
}

/* Nav */
.navContainer {
  position: fixed;
  width: 100vw;
  height: 8vh;
  background-color: #0060B9;
  z-index: 1000;
}
.navSection {
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-right: 0.2em solid #FFFFFF;
}
.navSectionSelected {
  background-color: #FF7A00;
}

/* Store Stock */
.storeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6%;
}
.storeDiv {
  background-color: #2817E7;
  border-radius: 1em;
  padding-top: 10%;
  padding-bottom: 10%;
}
.storeDiv:hover {
  background-color: #2013b2;
  cursor: pointer;
}
.stockTable {
  height: auto;
  width: auto;
  margin: auto;
}
.tableHeader {
  background-color: #0084FE;
  padding-top: 1%;
  padding-bottom: 1%;
}
.tableRows {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.tableRows:hover {
  background-color: rgba(255, 249, 112, 0.8);
  cursor: pointer;
}

/* Kiosk Control */
.lockContainer {
  background-color: #FFFFFF;
  border: #0060B9 0.4em solid;
  border-radius: 1em;
  padding-top: 10%;
  padding-bottom: 10%;
}

/* Print All */
.printAllContainer {
  background-color: #FFFFFF;
  border: #B4DBFF 0.15em solid;
  border-radius: 1em;
  padding: 2%;
}

/* inputs */
.textFrame {
  padding: 0.5em;
  border: 0.1em solid #CCCCCC;
  border-radius: 0.3em;
}
.menuUpdateInput {
  padding: 0em 0.2em;
  width: 100%;
  border: none;
  background-color: none;
}

/* FAQ Page */
/* FAQ Container */
.parentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.fixedContainer{
  overflow: hidden;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; 
  padding: 110px 0 0 0;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fixedContainer::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-bottom: 6px solid #0084FE;
}
.scrollContainer{
  margin: 0px auto 80px auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  height: auto;
  min-height: 920px;
  width: calc(90% - 12px);
  border: 6px solid #0084FE;
  border-top: none;
  position: relative;
}

/* FAQ Searchbox */
.searchBoxWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;
}
.searchBox{
  margin: 0px 0px 20px 0px;
  align-items: 'center';
}
.searchInputBox{
  margin: 0;
  width: 400px;
  position: relative; 
  display: flex;
}
.keywordInput {
  padding: 0em 0.2em;
  width: 90%;
  border: none;
  background-color: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2vh;
  line-height: 100%;
  color: #3F3E3E;
} 
.keywordInput:focus {
  outline: none;
  box-shadow: none;
}

/* FAQ Tab */
.tabListWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.tabList {
  display: flex;
  justify-content: flex-start; 
}
.react-tabs__tab {
  font-size: 20px;
  margin: 0px 2.5px 0px 2.5px !important;
  padding: 10px 25px 10px 25px !important;
  border: 2px solid #e3e2e2 !important;
}
.react-tabs__tab--selected {
  font-weight: 700;
  color: white !important;
  background-color: #0084FE !important;
  border: none !important;
  border-radius: 0% !important;
}
.react-tabs__tab-panel{
  padding: 250px 0 30px 0 !important;
  margin: 0 !important;
  width: 100% !important;
}
.noResultsMessage{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 28px;
  line-height: 100%;
  color: #3F3E3E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 30px));
}

/* FAQ Button */
.buttonSearch {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.95);
  font-size: 18px;
  padding: 5px 15px;
  margin: 0 10px;
  border: 2px solid #bcbcbc;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}
.buttonSearch:active {
  background-color: #bcbcbc;
}
.clearButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
  color: #ff0000;
  padding: 0 5px;
  display: flex;
  align-items: center;
  height: 100%;
}
.clearButton:hover {
  color: #000;
}

/* FAQ Card */
.faqCard {
  border-radius: 10px;
  margin: 0 auto 15px auto;
  background-color: #f9f9f9;
  cursor: pointer;
  width: 95%;
}
.faqCardHeader {
  background-color: #e3e3e3;
  border-radius: 10px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-weight: bold;
  white-space: normal;
  width: 100%;
}
.faqCardHeaderOpen {
  background-color: #ababab;
  border-radius: 10px 10px 0px 0px;
}
.faqCardHeader h3 {
  padding: 20px;
  flex-grow: 1;
  text-align: left; 
  word-wrap: break-word; 
  white-space: normal;
}
.faqCardContent {
  border-radius: 0 0 10px 10px;
  margin: 10px 0 20px 0;
  padding-left: 30px;
  text-align: left;
  white-space: normal; 
  word-wrap: break-word;
  width: 95%;
  max-height: 540px !important; 
  overflow-y: auto;
  background-color: #f9f9f9;
}
.faqCardContent ol {
  padding-left: 20px;
  padding-bottom: 20px;
}
.faqCardContent h4 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
  text-align: left;
}
.faqCardContent ol li {
  font-size: 20px;
  margin: 0 0 15px 0;
  list-style-type: decimal;
  padding-left: 10px;
  line-height: 1.5;
}
.faqCardContent ol li::marker {
  font-weight: bold;
}
.faqCardContent ul {
  list-style-type: none;
}
.faqCardContent ul li {
  font-size: 18px;
  margin: 15px 0px;
  padding-left: 0px;
  display: flex;
  align-items: flex-start;
  text-align: left;
  line-height: 1.5;
}
.faqCardContent ul li span {
  display: block;
  margin-left: 10px; 
  text-align: left;
}
.faqCardContent ul li img{
  margin-left: 0px;
}

/* FAQ Image */
.faqImage{
  display: block;
  width: auto;
  height: 384px;
  margin: 0 0 0 30px;
}
.faqImageSmall {
  height: 256px;
}
.faqImageMedium {
  height: 384px;
}
.faqImageLarge {
  height: 512px;
}



/* selected class */
.textWhite {
  color: #FFFFFF;
}
.textGrey {
  color: #999999;
}
.textBlue {
  color: #2817E7;
}
.textRed {
  color: #D10058;
}
.textDark {
  color: #3F3E3E;
}
.bgBlue {
  background-color: #2817E7;
  /* margin-left: -3%; */
}
.bgYellow {
  background-color: #FFD800;
}
.formButtonSelected {
  background-color: #2817E7;
  color: #FFFFFF;
  border: none;
  padding: 4%;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}
.inputSelected {
  border: 2px solid #0060B9;
}
.inputError {
  border: 2px solid #D10058;
}
.iconSelectedBlue {
  color: #0084FE;
}
.stripeBlue {
  background-color: rgba(180, 219, 255, 0.4);
}
.bgOrange {
  background-color: #FF7A00;
}


